{% extends "common.html" %}

{% block head %}
    {{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/table.css') }}" />
{% endblock %}

{% block title %}Home{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block main %}
    <p>This is a test.</p>
    <table>
        <tr>
            {% for header in headings %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>

        {% for user in users %}
            <tr>
                {% for key, value in user.items() %}
                   <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
