{% extends "admin_pages/admin.html" %}

{% block head %}
    {{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/table.css') }}" />
{% endblock %}

{% block title %}View Users{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                {% for header in headings %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    {% for key, value in user.items() %}
                       <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
