<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pages.css') }}" />
    <title>Welcome to Class</title>
</head>
<body>
    <a href="/" class="home-button">Home</a>
    <a href="/class" class="back-button">Back</a>

    <h1>Welcome to {{ class_name }}</h1>
    <p>View the quizzes below:</p>
    <table>
        <tr>
            <th>Quiz Name</th>
            <th>Number of Questions</th>
            <th>Take Quiz</th>
        </tr>
        {% for quiz in quizzes %}
        <tr>
            <td>{{ quiz.name }}</td>
            <td>{{ quiz.questions | length }}</td>
            <td>
                <form action="{{ url_for('take_quiz') }}" method="post">
                    <input type="hidden" name="quiz_name" value="{{ quiz.name }}">
                    <button type="submit">Take Quiz</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
