{% extends "layout.html" %}

{% block head %}
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/common.css') }}" />
	<title>{% block title %}{% endblock %}</title>
{% endblock %}

{% block header %}
    <nav>
        <div class="logo">
			<img src="{{ url_for('static', filename='images/light.ico') }}" alt="logo" />
			<h1>{% block page_title %}{% endblock %}</h1>
		</div>
		<menu>
			{% if "user" not in session %}
				<a href="/">Home</a>
				<a href="/quizzes">View Quizzes</a>
				<a href="{{ url_for("login") }}">Login</a>
			{% elif session['user_type'] == 'admin' %}
				<a href="/class">Classes</a>
				<a href="/quizzes">Quizzes</a>
				<a href="{{ url_for("admin.view_users") }}">Users</a>
				<a href="{{ url_for("logout") }}">Logout</a>
			{% elif session['user_type'] in ['student', 'teacher'] %}
				<a href="/classes">Your Classes</a>
				<a href="/quizzes">View Quizzes</a>
				<a href="/quiz-creator">Create New Quiz</a>
				<a href="{{ url_for("logout") }}">Logout</a>
			{% endif %}
		</menu>
    </nav>
{% endblock %}

{% block footer %}
	<div id="created-by-notice">
		<p>Created by Ben, Brian, Aditi, Anoushka, and Shelley</p>
	</div>
{% endblock %}