{% extends "common.html" %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/quiz.css') }}" />
	<script src="{{ url_for('static', filename='scripts/createQuiz.js') }}" type="application/javascript" defer></script>
{% endblock %}

{% block title %}Create Quiz{% endblock %}

{% block page_title %}Quiz Creator{% endblock %}

{% block main %}
	<form method="post" id="create-quiz-form">
		<div id="quiz-title-container">
			<h2>Quiz Title:</h2>
			<label for="quiz-title"></label>
			<input type="text" name="quiz-title" id="quiz-title"/>
		</div>
		<div id="quiz-description-container">
			<h2>Quiz Description:</h2>
			<label for="quiz-description"></label>
			<textarea name="quiz-description" id="quiz-description"></textarea>
		</div>
		<div id="class-dropdown-container">
			<h2>Select Class:</h2>
			<label for="class-dropdown"></label>
			<select name="course" id="class-dropdown"></select>
		</div>
		<div id="questions-container">

		</div>
		<button type="button" id="add-new-question" onclick="newQuestion()">Add New Question</button>
		<button type="button" id="reset-form" onclick="resetForm()">Reset All</button>
		<button type="submit" id="save-quiz" onclick="saveQuiz()">Save Quiz</button>
	</form>
{% endblock %}