{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}" />
{% endblock %}

{% block title %}Login{% endblock %}

{% block header %}
    <h1>Log In</h1>
{% endblock %}

{% block main %}
    <form method="post">
        {{ form.type }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>
    <p>Don't have an account? <a href="/register">Register now!</a></p>
{% endblock %}