<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pages.css') }}" />

    <title>{{ quiz.name }} Details</title>
</head>
<body>
    <a href="/" class="home-button">Home</a>
    
    <h1>{{ quiz.name }}</h1>
    <p><strong>Quiz Description:</strong> {{ quiz.description }}</p>
    <h2>Questions:</h2>
    <ul>
   {% block main %}
    <table>
        <tr>
            <th>Quiz Name</th>
            <th>Number of Questions</th>
            <th>Take Quiz</th>
        </tr>


        {% if quiz is mapping %}
        <tr>
            <td>{{ quiz.name }}</td>
            <td>{{ quiz.questions | length}}</td>
            <td>
                <form action="{{ url_for('take_quiz') }}" method="post">
                    <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
                    <button type="submit">Take Quiz</button>
                </form>
            </td>
            
        </tr>
    {% else %}
    {% for quiz in quiz.name %}
        <tr>
            <td>{{ quiz.name }}</td>
            <td>{{ quiz.questions | length }}</td>

            <td>
                <form action="{{ url_for('take_quiz') }}" method="post">
                    <input type="hidden" name="quiz_id" value="{{ quizzes.id }}">
                    <button type="submit">Take Quiz</button>
                </form>
            </td>
        </tr>
    {% endfor %}
{% endif %}
</table>
{% endblock %}


    </ul>
</body>
</html>
