{% extends "common.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/table.css') }}" />
{% endblock %}

{% block title %}View Quizzes{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block main %}
<a href="/" class="home-button" >Home</a>
    <table>
        <tr>
            <th>Course</th>
            <th>Quiz Name</th>
            <th>Quiz Description</th>
            <th>Number of Questions</th>
            <th>Take Quiz</th>
        </tr>
        {% if quizzes is mapping %}
            <tr>
                <td>{{ quizzes.course }}</td>
                <td>{{ quizzes.name }}</td>
                <td>{{ quizzes.description}}</td>
                <td>{{ quizzes.questions | length}}</td>
                <td>
					<a href="{{ url_for('take_quiz', quiz_name=quiz['name']) }}"><button>Take Quiz</button></a>
                </td>
            </tr>
        {% else %}
        {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz.course }}</td>
                <td>{{ quiz.name }}</td>
                <td>{{ quiz.description}}</td>
                <td>{{ quiz.questions | length }}</td>
                <td>
					<a href="{{ url_for('take_quiz', quiz_name=quiz['name']) }}"><button>Take Quiz</button></a>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    </table>
{% endblock %}
