{% extends "admin_pages/admin.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/table.css') }}" />
{% endblock %}

{% block title %}View Quizzes{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block main %}
    <table>
        <tr>
            <th>Quiz Name</th>
            <th>Question</th>
            <th>Correct Answer</th>
        </tr>

        {% for quiz in quizzes %}
            {% for question in quiz.questions %}
                {% for answer in question.answers %}
                    {% if answer.is_correct %}
                        <tr>
                            <td>{{ quiz.name }}</td>
                            <td>{{ question.question_text }}</td>
                            <td>{{ answer.answer_text }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}
