* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

nav {
    height: 80px;
    background: lightgrey;
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    margin: 0 auto 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.logo * {
    display: inline-block;
    font-size:42px;
    margin: 0;
    padding: 0 0 0 15px;
    cursor: default;
}

nav a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 0 1.5rem;
}

.nav-links {
    display: flex;
    width: 50%;
}


.dropbtn {
    background: none;
    color: black;
    border: none;
    padding: 0 1.5rem;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    border-radius: 100%; 

}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
    margin-top: auto;
    width: 100%;
}

.button-style {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button-style:hover {
    background-color: #3e8e41
}

.button-style:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.quiz-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px; 
}

.quiz-box {
    width: calc(33% - 20px); 
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px; 
}

.quiz-box h3 {
    margin-top: 0;
}

.quiz-box p {
    width: calc(33.33% - 10px); 
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}
