* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 80px;
    background: cornflowerblue;
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    margin: 0 auto 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.logo * {
    display: inline-block;
    font-size:42px;
    margin: 0;
    padding: 0 0 0 15px;
    cursor: default;
}

nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 0 1.5rem;
}

.nav-links {
    display: flex;
    width: 50%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
    margin-top: auto;
    width: 100%;
}

.button-style {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button-style:hover {
    background-color: #3e8e41
}

.button-style:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
