* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 80px;
    background: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    padding: 0rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
    width: 100%;
}
.button-style {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button-style:hover {background-color: #3e8e41}

.button-style:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
