

body {
    font-family: Arial, Helvetica, sans-serif;
}

.question-container {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.question-text {
    font-size: 18px;
    margin-bottom: 10px;
}

.answer-container {
    margin-bottom: 10px;
}

.answer-choice {
    margin-right: 5px;
}


.home-button { 
    display: inline-block;
    padding: 10px 12px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: cornflowerblue;
    border:darkred;  
}




button {
    display: inline-block;
    padding: 10px 12px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: cornflowerblue;
    border:darkred;  
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

button:hover {
    background-color: rgb(109, 237, 100);
}