table {
    table-layout: auto;
    width: 80%;
    border-collapse: collapse;
    margin: 2em;
    border-bottom: solid #000000 1px;
}

th, td {
    padding: 4px;
    text-align: left;
}

thead th{
    color: white;
    background-color: #094987;
    border-bottom: solid #000000 2px;
}

tbody tr:nth-child(odd){
    background-color: #eaeaea
}

